

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
   min-height: 100%;   
}

body {
    background: url("../img/dome.jpg") #84AEFF fixed 50%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
}

.level-panel {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
}

.icon {
    display: inline-block;
    background-image: url('../img/sprites.png');
    background-repeat: no-repeat;
    vertical-align: middle; 
    width: 24px;
    height: 24px;
}

.icon.icon-chest { background-position: 0 0; }
.icon.icon-stack { background-position: -24px 0; }
.icon.icon-block { background-position: -48px 0; }